body {
    background-color: #1d3e53;
    font-family: "Be Vietnam Pro";
}

.container {
    width: 60%;
    margin: auto;
    border: 1px #95c9d4 solid;
    padding: 40px;
    border-radius: 10px;
    background-color: #254b62;
    outline: none;
}

input {
    width: 100%;
    height: 5%;
    margin: 10px;
    position: relative;
    right: 0px;
    background-color: #66929c;
    font-size: 140%;
    color: #1e2324;
    /* border-left: none;
    border-right: none;
    border-top: none; */
    border: 0.5px #476d7c solid;
}

label {
    font-size: 140%;
    color: #65dbf5;
}

#submitBtn {
    width: 30%;
    height: 60px;
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    background-color: #233136;
    border: 2px #4f6d74 solid;
    margin-left: 35%;
    font-size: 100%;
    font-weight: bold;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: #4b8491;
}

#search {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30%;
    height: 40px;
    background-color: #77abb7;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

table {
    width: 100%;
    background-color: #254b62;
    padding: 10px;
}

th {
    position: relative;
    top: 0px;
    background-color: #9bc5ce;
}

tr {
    margin: -10px;
}

td {
    margin: -10px;
    background-color: #366c8d;
    border: 1px solid black;
    color: white;
    font-size: large;
}

#show_records {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    margin: auto;
    width: 80%;
    margin-top: 15px;
    border: 2px solid #5d8791;
}

.delete {
    color: white;
    background-color: red;
    text-align: center;
}

.delete:hover {
    cursor: pointer;
    background-color: rgb(133, 0, 0);
}

#heading {
    position: sticky;
    top: 0px;
}